*{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
#content{
    display: flex;
    justify-content: space-evenly;
    background-color: #252525;
    border-radius: 5px;
    border: palevioletred 1px solid;
    padding: 10px;
}
#content > div{
    border: black 3px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}